body{
    background: #F2F2F2;
    font-family: sans-serif;
 }
 .body-layout{
    width: 335px;
    background: #2F495A;
    margin: 100px auto;
    padding: 10px 20px 50px 20px;
 border-radius: 5px;
    box-shadow: 0px 10px 20px 0px #D1D1D1;
 }
 .text-input{
    width: 300px;
    margin: 5px;
    border: none;
    font-size: 16pt;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
 }
 .result{
    text-align: center;
    color: #eee;
 }
 .opt{
    font-size: 16pt;
    border: none;
    width: 215px;
    margin: 5px;
    border-radius: 5px;
    padding: 10px;
 }
 .tombol{
    background: #EC5159;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #eee;
    font-size: 15pt;
    border-bottom:4px solid #BF3D3D;
    /* position: absolute; */
 }
 .clear{
    background: rgb(133, 63, 67);
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #eee;
    font-size: 15pt;
    border-bottom:4px solid rgb(131, 35, 35);
    /* position: absolute; */
 }
 /* .brand{
    color: #eee;
    font-size: 11pt;
    float: right;
    text-decoration: none;
    margin: 12px;
 } */
 .judul{
    text-align: center;
    color: #eee;
    font-weight: normal;
 }